.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;


    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}
.cssbuttons-io {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05em;
    border-radius: 0.8em;
    border: none;
    background: linear-gradient(to right, #000000, #ec0000);
    color: ghostwhite;
    overflow: hidden;
  }
  
  .cssbuttons-io svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }
  
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.8em 1.2em 0.8em 1.05em;
  }
  
  .cssbuttons-io::before,
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .cssbuttons-io::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0);
  }
  
  .cssbuttons-io:active {
    transform: scale(0.95);
  }
  


.left-section {

    width: 150px ;
    align-items: center ;
    display: flex;
}


.logo-youtube {

    height: 20px;

}

.middle-section {
    
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center ;
    display: flex;
   
}

    .Search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 1px;
    width: 0;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    
}

.Search-bar::placeholder {

    font-family: Roboto,Arial;
    font-size: 16px;

}


.right-section {

    width: 180px;
    margin-right: 20px;
    align-items: center ;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;



}


.upload-icon {
    height: 24px;
}

.youtube-apps-icon {
    height: 24px;
}

.notification {
    height: 24px;
}

.fotoprofilo {
    height: 32px;
    border-radius: 10px;
}


.voce {

    height: 24px;
    margin-top: 4px;
 
}
 

.ricerca {
    height: 25px;
    margin-top: 4px;


 }


.buttone1  {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color:rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}


.buttone2   {
    height: 40px;
    width: 40px;
    background-color: rgb(192, 192, 192);;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border: none;

}

